* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;

    --backgroundColor: #03002e;
    --white: white;
    --logoTextColor: orange;
}

div {
    z-index: 2;
}

::-webkit-scrollbar {
    width: 0;
}

button,
input {
    border: none;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--backgroundColor);
    color: var(--white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.title {
    font-size: 27px;
    font-weight: 900;
}

header {
    transition: background-color 0.5s ease;
    overflow: hidden;
    position: fixed;
    inset: 0 0 auto;
    z-index: 100;
}

header.active {
    background-color: rgba(37, 37, 69, 0.9);
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo img {
    width: 60px;
}

.logo-text {
    color: var(--logoTextColor);
    font-size: 20px;
}

.header-right {
    display: flex;
    align-items: center;
}

.particles {
    position: fixed;
    inset: 0;
}

.navigate {
    display: flex;
}

.nav-item a {
    padding: 10px;
    color: var(--white);
    font-size: 18px;
    transition: all .3s;
}

.nav-item a:hover {
    color: var(--logoTextColor);
}

.section-main {
    height: 100vh;
}

.start__div {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.start__div>h1 {
    text-align: center;
    font-size: 42px;
}

.start__div>h1 span {
    color: var(--logoTextColor);
}

.start__div>h1,
.start__div>h1 span {
    cursor: default;
}

.start_btn-frame {
    display: flex;
    justify-content: center;
}

.start_btn-frame>.start_btn {
    visibility: hidden;
    opacity: 0;
}

.start_btn-frame.active>.start_btn {
    visibility: visible;
    opacity: 1;
}

.start_btn {
    padding: 13px 20px;
    background-color: var(--logoTextColor);
    cursor: pointer;
    border-radius: 6px;
    color: var(--white);
    margin-top: 20px;
    font-size: 18px;
    transition: all .4s;
    transition: visibility 0s, opacity 0.5s linear;
}

.start_btn:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 8px 24px, rgba(255, 255, 255, 0.1) 0px 16px 56px, rgba(255, 255, 255, 0.1) 0px 24px 80px;
}

.start_btn span {
    position: relative;
    bottom: 1px;
    transition: all .4s;
}

.start_btn:hover>span {
    padding-left: 10px;
}

.section-FAQ {
    height: 100vh;
}

.inFaq {
    padding-top: 100px;
}

.faq-title {
    margin-bottom: 30px;
}

.message-section {
    margin-bottom: 25px;
    display: flex;
    align-items: end;
}

.message-section.you>.message {
    margin-left: auto;
    border-radius: 25px 10px 1px 2px;
}

.message-section.bot>.message {
    border-radius: 15px 25px 2px 0;
}

.message {
    max-width: 523px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 10px 20px;
    background-color: var(--logoTextColor);
    opacity: 0.89;
}

.avatar-section {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.message-section.you>.avatar-section>img {
    height: 66px;
}

.message-section.bot>.avatar-section {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    overflow: hidden;
}

.message-section.bot>.avatar-section>img {
    width: 100%;
}

.message-section.bot>.avatar-section {
    background-color: black;
    margin-right: 20px;
}

.message-section.you>.avatar-section {
    background-color: rgb(212, 212, 212);
    margin-left: 20px;
}

.cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.cards-section .booking-card {
    position: relative;
    width: calc(1140px / 2);
    display: flex;
    flex: 0 0 300px;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: #0a4870;
    transition: 0.3s;
    z-index: 2;
}

.cards-section .booking-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 72, 112, 0);
    transition: 0.3s;
}

.cards-section .booking-card .book-container {
    height: 200px;
}

.cards-section .booking-card .informations-container {
    flex: 1 0 auto;
    padding: 20px 20px 30px 20px;
    background: #f0f0f0;
    transform: translateY(206px);
    transition: 0.3s;
}

.cards-section .booking-card:hover::before {
    background: rgba(10, 72, 112, 0.6);
}

.cards-section .booking-card:hover .informations-container {
    transform: translateY(0px);
}

@media (max-width: 768px) {
    .cards-section .booking-card .informations-container {
        transform: translateY(0px);
    }
}

.team {
    margin-top: 50px;
}

.team-frame {
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.team-frame .img-frame {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--white);
    background-size: cover;
    background-position: center;
}

.team_shakhriyor .img-frame {
    background-image: url('../assets/shahriyor.jpg');
}

.team_mehroj .img-frame {
    background-image: url('../assets/mehroj.jpg');
}

.team_abbos .img-frame {
    background-image: url('../assets/abbos.jpg');
}
.team_aziz .img-frame {
    background-image: url('../assets/aziz.jpg');
}

.inTeam-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inTeam-user h3 {
    font-size: 24px;
}

.inTeam-user h3 i {
    display: inline-block;
    width: 20px;
    margin-left: 2px;
}

.inTeam-user h3 i svg {
    width: 100%;
}

.inTeam-user .name-icon {
    width: 100%;
}

.inTeam-user .roll {
    font-size: 16px;
    color: rgb(157, 157, 157);
}

.user-links_icon {
    margin-top: 7px;
    display: flex;
    gap: 10px;
}

.user-links_icon svg,
.user-links_icon img {
    width: 25px;
}